.login-background{
    background:#d8ff00 ;
}

input.login-input:focus{
    border: 1px solid #343A40;
    box-shadow: none;
}
.attachFile{
    cursor:pointer;
}
.attachFile input[type="file"]{
    display: none;
  /* position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer; */
}
button.reg-button,
button.auth-btn{
    color:#d8ff00;
    background-color: #343A40;
    border: 1px solid #343A40;
}
button.reg-button:hover,
button.auth-btn:hover{
    color:#d8ff00;
    background-color: #343A40;
    border: 1px solid #343A40;
}